<div class="Elements">


    <nav class="Nav_elements">
        <button class="btn_Button">Controls</button>
        <!-- <button class="btn_Arrow_up" #btnArrow>  </button> -->
        <hr>
        <ul>
            <li>
                    <a routerLink="/datapicker"> Data Picker</a>
            </li>
        </ul>
    </nav>



        <nav class="Nav_elements">
            <button class="btn_Button">Date</button>
            <hr>
            <ul>
                <li>
                        Calendar
                </li>
            </ul>
        </nav>
   




            <nav class="Nav_elements">
                <button class="btn_Button">Date</button>
                <hr>
                <ul>
                    <li>
                            Calendar
                    </li>
                </ul>
            </nav>
   

     


                <nav class="Nav_elements">
                    <button class="btn_Button">Date</button>
                    <hr>
                    <ul>
                        <li>
                                Calendar
                        </li>
                    </ul>
                </nav>
            </div>