
  <div class="header">
    <h2> LOGO </h2>    <a routerLink="/"><h2> Components</h2> </a>  <h2> Documentation</h2> </div>
  <div class="Menu_header">
    <h4> Components</h4> 
  </div>
  <div class="content">
<div class="side_bar"> 
<div >
  <app-side-bar  ></app-side-bar>
</div>

</div>
<div class="content_bar"> 
  <!-- <app-components></app-components> -->
  <!-- <div [formGroup]="form"> 
    <app-yandex-autocompliter [choisedAirport]="airportControl" [formControl]="airportControl">

    </app-yandex-autocompliter>
    

  </div>


  <div>

    <div style="margin-top: 100px;">
      <span> {{airportControl.value | json}}</span>
    </div>
    <ul>
     <li>тут</li>
     <li>типа</li>
     <li>кокой</li>
     <li>то </li>
     <li>компонент</li>
    </ul>
     
  </div> -->
  <div [formGroup]="form">
    <app-slider [start]="startSlider" [end]="endSlider" [step]="step" [sliderValue]="sliderControl" [formGroup]="sliderControl"> 

    </app-slider>  
    <div>

      <span>{{sliderControl.value | json}} </span>
    </div>
  </div>

 
</div>
  </div>

 
  <footer class="footer_">
      <!-- <img img src='assets/footer.png' class="Footer_png"> -->
    </footer>
